%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td analog-read-robot
      %td.links= link_to 'Code', '/documentation/examples/api-mqtt/js/analog-read-robot'
      %td.links
      %td.links
    %tr
      %td subscribe-to-robot
      %td.links= link_to 'Code', '/documentation/examples/api-mqtt/js/subscribe-to-robot'
      %td.links
      %td.links
    %tr
      %td blink-robot
      %td.links= link_to 'Code', '/documentation/examples/api-mqtt/js/blink-robot'
      %td.links
      %td.links
    %tr
      %td device-subscribe
      %td.links= link_to 'Code', '/documentation/examples/api-mqtt/js/device-subscribe'
      %td.links
      %td.links
    %tr
      %td blink-robot
      %td.links= link_to 'Code', '/documentation/examples/api-mqtt/js/blink-robot'
      %td.links
      %td.links
    %tr
      %td subscribe-blink
      %td.links= link_to 'Code', '/documentation/examples/api-mqtt/js/subscribe-blink'
      %td.links
      %td.links
    %tr
      %td blink-robot
      %td.links= link_to 'Code', '/documentation/examples/api-mqtt/js/blink-robot'
      %td.links
      %td.links
    %tr
      %td subscribe-to-robot
      %td.links= link_to 'Code', '/documentation/examples/api-mqtt/js/subscribe-to-robot'
      %td.links
      %td.links
