%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td analog_sensor_with_led
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/analog_sensor_with_led'
      %td.links= link_to 'Fluent JS', '/documentation/examples/beaglebone/fluent/analog_sensor_with_led'
      %td.links
    %tr
      %td Beaglebone Blink
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/blink'
      %td.links= link_to 'Fluent JS', '/documentation/examples/beaglebone/fluent/blink'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/blink'
    %tr
      %td Beaglebone BlinkM
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/blinkm'
      %td.links= link_to 'Fluent JS', '/documentation/examples/beaglebone/fluent/blinkm'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/blinkm'
    %tr
      %td Beaglebone Button
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/button'
      %td.links= link_to 'Fluent JS', '/documentation/examples/beaglebone/fluent/button'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/button'
    %tr
      %td Beaglebone Led Brightness
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/led'
      %td.links= link_to 'Fluent JS', '/documentation/examples/beaglebone/fluent/led'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/led'
    %tr
      %td Beaglebone Servo
      %td.links= link_to 'Code', '/documentation/examples/beaglebone/js/servo'
      %td.links= link_to 'Fluent JS', '/documentation/examples/beaglebone/fluent/servo'
      %td.links= link_to 'Annotated Code', '/documentation/examples/beaglebone/annotated/servo'
