
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td crazyflie
      %td.links= link_to 'Code', '/documentation/examples/crazyflie/js/crazyflie'
      %td.links= link_to 'Fluent JS', '/documentation/examples/crazyflie/fluent/crazyflie'
      %td.links
    %tr
      %td list-copters
      %td.links= link_to 'Code', '/documentation/examples/crazyflie/js/list-copters'
      %td.links= link_to 'Fluent JS', '/documentation/examples/crazyflie/fluent/list-copters'
      %td.links
