
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/digispark/js/blink'
      %td.links= link_to 'Fluent JS', '/documentation/examples/digispark/fluent/blink'
      %td.links
    %tr
      %td Button
      %td.links= link_to 'Code', '/documentation/examples/digispark/js/button'
      %td.links= link_to 'Fluent JS', '/documentation/examples/digispark/fluent/button'
      %td.links= link_to 'Annotated Code', '/documentation/examples/digispark/annotated/button'
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/digispark/js/led_brightness'
      %td.links= link_to 'Fluent JS', '/documentation/examples/digispark/fluent/led_brightness'
      %td.links
    %tr
      %td rgb-led-strobe
      %td.links= link_to 'Code', '/documentation/examples/digispark/js/rgb-led-strobe'
      %td.links= link_to 'Fluent JS', '/documentation/examples/digispark/fluent/rgb-led-strobe'
      %td.links
    %tr
      %td servo
      %td.links= link_to 'Code', '/documentation/examples/digispark/js/servo'
      %td.links= link_to 'Fluent JS', '/documentation/examples/digispark/fluent/servo'
      %td.links
