
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td org-creds
      %td.links= link_to 'Code', '/documentation/examples/force/js/org-creds'
      %td.links
      %td.links
    %tr
      %td salesforce
      %td.links= link_to 'Code', '/documentation/examples/force/js/salesforce'
      %td.links= link_to 'Fluent JS', '/documentation/examples/force/fluent/salesforce'
      %td.links
    %tr
      %td sf-spark
      %td.links= link_to 'Code', '/documentation/examples/force/js/sf-spark'
      %td.links
      %td.links
    %tr
      %td sf-spark-pebble
      %td.links= link_to 'Code', '/documentation/examples/force/js/sf-spark-pebble'
      %td.links
      %td.links
    %tr
      %td sf-sphero
      %td.links= link_to 'Code', '/documentation/examples/force/js/sf-sphero'
      %td.links= link_to 'Fluent JS', '/documentation/examples/force/fluent/sf-sphero'
      %td.links
