
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td array-blink
      %td.links= link_to 'Code', '/documentation/examples/hue/js/array-blink'
      %td.links
      %td.links
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/hue/js/blink'
      %td.links
      %td.links
    %tr
      %td bridge-state
      %td.links= link_to 'Code', '/documentation/examples/hue/js/bridge-state'
      %td.links
      %td.links
    %tr
      %td brightness
      %td.links= link_to 'Code', '/documentation/examples/hue/js/brightness'
      %td.links
      %td.links
    %tr
      %td create-user
      %td.links= link_to 'Code', '/documentation/examples/hue/js/create-user'
      %td.links
      %td.links
    %tr
      %td disco
      %td.links= link_to 'Code', '/documentation/examples/hue/js/disco'
      %td.links
      %td.links
    %tr
      %td rgb
      %td.links= link_to 'Code', '/documentation/examples/hue/js/rgb'
      %td.links
      %td.links
