%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td lsm9ds0g
      %td.links= link_to 'Code', '/documentation/examples/i2c/js/lsm9ds0g'
      %td.links= link_to 'Fluent JS', '/documentation/examples/i2c/fluent/lsm9ds0g'
      %td.links
    %tr
      %td lsm9ds0xm
      %td.links= link_to 'Code', '/documentation/examples/i2c/js/lsm9ds0xm'
      %td.links= link_to 'Fluent JS', '/documentation/examples/i2c/fluent/lsm9ds0xm'
      %td.links
    %tr
      %td mpl115a2
      %td.links= link_to 'Code', '/documentation/examples/i2c/js/mpl115a2'
      %td.links
      %td.links
    %tr
      %td mpu6050
      %td.links= link_to 'Code', '/documentation/examples/i2c/js/mpu6050'
      %td.links= link_to 'Fluent JS', '/documentation/examples/i2c/fluent/mpu6050'
      %td.links
