%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td analog-sensor
      %td.links= link_to 'Code', '/documentation/examples/imp/js/analog-sensor'
      %td.links
      %td.links
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/imp/js/blink'
      %td.links
      %td.links
    %tr
      %td blinkm
      %td.links= link_to 'Code', '/documentation/examples/imp/js/blinkm'
      %td.links
      %td.links
    %tr
      %td bmp180
      %td.links= link_to 'Code', '/documentation/examples/imp/js/bmp180'
      %td.links
      %td.links
    %tr
      %td imp-button
      %td.links= link_to 'Code', '/documentation/examples/imp/js/imp-button'
      %td.links
      %td.links
    %tr
      %td led-brightness
      %td.links= link_to 'Code', '/documentation/examples/imp/js/led-brightness'
      %td.links
      %td.links
