%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td analog_sensor
      %td.links= link_to 'Code', '/documentation/examples/intel-iot/js/analog_sensor'
      %td.links= link_to 'Fluent JS', '/documentation/examples/intel-iot/fluent/analog_sensor'
      %td.links
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/intel-iot/js/blink'
      %td.links= link_to 'Fluent JS', '/documentation/examples/intel-iot/fluent/blink'
      %td.links
    %tr
      %td blinkm
      %td.links= link_to 'Code', '/documentation/examples/intel-iot/js/blinkm'
      %td.links= link_to 'Fluent JS', '/documentation/examples/intel-iot/fluent/blinkm'
      %td.links
    %tr
      %td button
      %td.links= link_to 'Code', '/documentation/examples/intel-iot/js/button'
      %td.links= link_to 'Fluent JS', '/documentation/examples/intel-iot/fluent/button'
      %td.links
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/intel-iot/js/led_brightness'
      %td.links= link_to 'Fluent JS', '/documentation/examples/intel-iot/fluent/led_brightness'
      %td.links
    %tr
      %td servo
      %td.links= link_to 'Code', '/documentation/examples/intel-iot/js/servo'
      %td.links= link_to 'Fluent JS', '/documentation/examples/intel-iot/fluent/servo'
      %td.links
    %tr
      %td upm_hmc5883l
      %td.links= link_to 'Code', '/documentation/examples/intel-iot/js/upm_hmc5883l'
      %td.links= link_to 'Fluent JS', '/documentation/examples/intel-iot/fluent/upm_hmc5883l'
      %td.links
