%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td intel-account-activation-code
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-account-activation-code'
      %td.links
      %td.links
    %tr
      %td intel-account-info
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-account-info'
      %td.links
      %td.links
    %tr
      %td intel-all-attributes
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-all-attributes'
      %td.links
      %td.links
    %tr
      %td intel-all-tags
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-all-tags'
      %td.links
      %td.links
    %tr
      %td intel-refresh-activation-code
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-refresh-activation-code'
      %td.links
      %td.links
    %tr
      %td intel-add-component
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-add-component'
      %td.links
      %td.links
    %tr
      %td intel-all-components
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-all-components'
      %td.links
      %td.links
    %tr
      %td intel-component
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-component'
      %td.links
      %td.links
    %tr
      %td intel-create-component
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-create-component'
      %td.links
      %td.links
    %tr
      %td intel-update-component
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-update-component'
      %td.links
      %td.links
    %tr
      %td intel-retrieve-data
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-retrieve-data'
      %td.links
      %td.links
    %tr
      %td intel-submit-data
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-submit-data'
      %td.links
      %td.links
    %tr
      %td intel-activate-device
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-activate-device'
      %td.links
      %td.links
    %tr
      %td intel-add-component
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-add-component'
      %td.links
      %td.links
    %tr
      %td intel-create-device
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-create-device'
      %td.links
      %td.links
    %tr
      %td intel-delete-device
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-delete-device'
      %td.links
      %td.links
    %tr
      %td intel-device-details
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-device-details'
      %td.links
      %td.links
    %tr
      %td intel-devices
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-devices'
      %td.links
      %td.links
    %tr
      %td intel-filter-devices
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-filter-devices'
      %td.links
      %td.links
    %tr
      %td intel-remove-component
      %td.links= link_to 'Code', '/documentation/examples/intel-iot-analytics/js/intel-remove-component'
      %td.links
      %td.links
