%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td device-streams
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/device-streams'
      %td.links
      %td.links
    %tr
      %td set-stream-value
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/set-stream-value'
      %td.links
      %td.links
    %tr
      %td stream-details
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/stream-details'
      %td.links
      %td.links
    %tr
      %td stream-values
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/stream-values'
      %td.links
      %td.links
    %tr
      %td device-view
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/device-view'
      %td.links
      %td.links
    %tr
      %td private-devices
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/private-devices'
      %td.links
      %td.links
    %tr
      %td public-devices
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/public-devices'
      %td.links
      %td.links
    %tr
      %td groups
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/groups'
      %td.links
      %td.links
    %tr
      %td device-keys
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/device-keys'
      %td.links
      %td.links
    %tr
      %td device-location
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/device-location'
      %td.links
      %td.links
    %tr
      %td device-triggers
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/device-triggers'
      %td.links
      %td.links
    %tr
      %td trigger-details
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/trigger-details'
      %td.links
      %td.links
    %tr
      %td publish
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/publish'
      %td.links
      %td.links
    %tr
      %td subscribe
      %td.links= link_to 'Code', '/documentation/examples/m2x/js/subscribe'
      %td.links
      %td.links
