
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '2'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/mqtt/js/blink'
      %td.links
    %tr
      %td connect_only
      %td.links= link_to 'Code', '/documentation/examples/mqtt/js/connect_only'
      %td.links
    %tr
      %td double
      %td.links= link_to 'Code', '/documentation/examples/mqtt/js/double'
      %td.links
    %tr
      %td simple
      %td.links= link_to 'Code', '/documentation/examples/mqtt/js/simple'
      %td.links
