%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td protect-api
      %td.links= link_to 'Code', '/documentation/examples/nest/js/protect-api'
      %td.links
      %td.links
    %tr
      %td structure-api
      %td.links= link_to 'Code', '/documentation/examples/nest/js/structure-api'
      %td.links
      %td.links
    %tr
      %td thermostat-api
      %td.links= link_to 'Code', '/documentation/examples/nest/js/thermostat-api'
      %td.links
      %td.links
    %tr
      %td home-away
      %td.links= link_to 'Code', '/documentation/examples/nest/js/home-away'
      %td.links= link_to 'Fluent JS', '/documentation/examples/nest/fluent/home-away'
      %td.links
    %tr
      %td read-temperature
      %td.links= link_to 'Code', '/documentation/examples/nest/js/read-temperature'
      %td.links= link_to 'Fluent JS', '/documentation/examples/nest/fluent/read-temperature'
      %td.links
    %tr
      %td set-temperature
      %td.links= link_to 'Code', '/documentation/examples/nest/js/set-temperature'
      %td.links= link_to 'Fluent JS', '/documentation/examples/nest/fluent/set-temperature'
      %td.links
    %tr
      %td thermostat-read-set-temps
      %td.links= link_to 'Code', '/documentation/examples/nest/js/thermostat-read-set-temps'
      %td.links= link_to 'Fluent JS', '/documentation/examples/nest/fluent/thermostat-read-set-temps'
      %td.links
