
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td color
      %td.links= link_to 'Code', '/documentation/examples/ollie/js/color'
      %td.links= link_to 'Fluent JS', '/documentation/examples/ollie/fluent/color'
      %td.links
    %tr
      %td ollie
      %td.links= link_to 'Code', '/documentation/examples/ollie/js/ollie'
      %td.links
      %td.links
    %tr
      %td roll
      %td.links= link_to 'Code', '/documentation/examples/ollie/js/roll'
      %td.links
      %td.links
    %tr
      %td spin
      %td.links= link_to 'Code', '/documentation/examples/ollie/js/spin'
      %td.links
      %td.links
