
%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td display-camera
      %td.links= link_to 'Code', '/documentation/examples/opencv/js/display-camera'
      %td.links
      %td.links
    %tr
      %td display-image
      %td.links= link_to 'Code', '/documentation/examples/opencv/js/display-image'
      %td.links
      %td.links
    %tr
      %td display-video
      %td.links= link_to 'Code', '/documentation/examples/opencv/js/display-video'
      %td.links
      %td.links
    %tr
      %td face-detection
      %td.links= link_to 'Code', '/documentation/examples/opencv/js/face-detection'
      %td.links
      %td.links
