%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td accelerometer
      %td.links= link_to 'Code', '/documentation/examples/pebble/js/accelerometer'
      %td.links= link_to 'Fluent JS', '/documentation/examples/pebble/fluent/accelerometer'
      %td.links
    %tr
      %td hello-pebble
      %td.links= link_to 'Code', '/documentation/examples/pebble/js/hello-pebble'
      %td.links= link_to 'Fluent JS', '/documentation/examples/pebble/fluent/hello-pebble'
      %td.links
