%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/pinoccio/js/blink'
      %td.links= link_to 'Fluent JS', '/documentation/examples/pinoccio/fluent/blink'
      %td.links
    %tr
      %td blink_led
      %td.links= link_to 'Code', '/documentation/examples/pinoccio/js/blink_led'
      %td.links
      %td.links
    %tr
      %td power
      %td.links= link_to 'Code', '/documentation/examples/pinoccio/js/power'
      %td.links= link_to 'Fluent JS', '/documentation/examples/pinoccio/fluent/power'
      %td.links
    %tr
      %td power_monitor
      %td.links= link_to 'Code', '/documentation/examples/pinoccio/js/power_monitor'
      %td.links
      %td.links
