%h2 #{name}
%table
  %thead
    %th Example
    %th.links{:colspan => '3'} Links
  %tbody
    %tr
      %td accel_mma84
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/accel_mma84'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/accel_mma84'
      %td.links
    %tr
      %td ambient_attx4
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/ambient_attx4'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/ambient_attx4'
      %td.links
    %tr
      %td analog_sensor
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/analog_sensor'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/analog_sensor'
      %td.links
    %tr
      %td analog_sensor_with_led
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/analog_sensor_with_led'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/analog_sensor_with_led'
      %td.links
    %tr
      %td audio_vs1053b
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/audio_vs1053b'
      %td.links
      %td.links
    %tr
      %td ble_ble113a
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/ble_ble113a'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/ble_ble113a'
      %td.links
    %tr
      %td blink
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/blink'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/blink'
      %td.links
    %tr
      %td blinkm
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/blinkm'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/blinkm'
      %td.links
    %tr
      %td button
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/button'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/button'
      %td.links
    %tr
      %td camera_vc0706
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/camera_vc0706'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/camera_vc0706'
      %td.links
    %tr
      %td climate_si7005
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/climate_si7005'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/climate_si7005'
      %td.links
    %tr
      %td gps_a2235h
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/gps_a2235h'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/gps_a2235h'
      %td.links
    %tr
      %td ir_attx4
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/ir_attx4'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/ir_attx4'
      %td.links
    %tr
      %td led_brightness
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/led_brightness'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/led_brightness'
      %td.links
    %tr
      %td relay_mono
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/relay_mono'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/relay_mono'
      %td.links
    %tr
      %td servo_pca9685
      %td.links= link_to 'Code', '/documentation/examples/tessel/js/servo_pca9685'
      %td.links= link_to 'Fluent JS', '/documentation/examples/tessel/fluent/servo_pca9685'
      %td.links
