---
title: Cylon News
page_title: Cylon.js
page_subtitle: News
layout: documentation
page_title_show: true
active_menu_resources: true
main_nav: true
---
%section.resources
  %h2#news
    = link_to "News", "/news"
  = link_to "<span>Wired features Cylon.js", "http://www.wired.com/2015/04/internet-anything-time-everyone-able-hack-robots/", target:"_blank", class: "external-link"

  = link_to "<span>Cylon.js 1.0 Release", "/news/cylon-1.0-release", target:"_blank", class: "external-link"

  = link_to "<span>Cylon.js listed among 15 new frameworks for developers", "http://codegeekz.com/15-new-frameworks-developers/", target:"_blank", class: "external-link"

  = link_to "<span>Cylon.js in Make Magazine", "http://makezine.com/2014/05/31/building-robots-and-rockets-with-javascript/", target:"_blank",  class: "external-link"