-content_for :logo do
  %a{href: '/'} Cylon

-content_for :logo_subtitle do
  .main

-content_for :menu do
  %ul.nav-list
    %li
      - if current_page.data.active_menu_docs == true
        = link_to "Docs", "/documentation", (menu_item("documentation")), class: "active"
      -else
        = link_to "Docs", "", (menu_item("documentation"))
    %li
      - if current_page.data.active_menu_platforms == true
        = link_to "Platforms", "/documentation/platforms", (menu_item("documentation/platforms")), class: "active"
      -else
        = link_to "Platforms", "", (menu_item("documentation/platforms"))
    %li
      - if current_page.data.active_menu_resources == true
        = link_to "Resources", "/resources", (menu_item("resources")), class: "active"
      -else
        = link_to "Resources", "", (menu_item("resources"))
    %li
      - if current_page.data.active_menu_blog == true
        = link_to "Blog", "/blog", (menu_item("blog")), class: "active"
      -else
        = link_to "Blog", "", (menu_item("blog"))
    %li
      =  link_to "Github", "https://github.com/hybridgroup/cylon/", class: "item", target: "_blank"

-content_for :social_links do
  .splitter
    %iframe{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=hybridgroup&repo=cylon&type=watch&count=true", :width => "95"}
    %iframe.fork{:allowtransparency => "true", :frameborder => "0", :height => "20", :scrolling => "0", :src => "https://ghbtns.com/github-btn.html?user=hybridgroup&repo=cylon&type=fork&count=true", :width => "95"}
  .splitter
    %a.twitter-share-button{"data-dnt" => "true", "data-text" => "JavaScript Robotics, By Your Command.", "data-url" => "https://cylonjs.com", "data-via" => "cylonjs", :href => "https://twitter.com/share"} Tweet
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    %a.twitter-follow-button{"data-dnt" => "true", "data-show-count" => "false", :href => "https://twitter.com/cylonjs"} Follow @Cylon.jsio
    :javascript
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
