%html{"ng-app" => "cylon"}
  %head
    = partial "/layouts/hybridpages/head"
    %link{href: "//fonts.googleapis.com/css?family=Inconsolata:400,700|Montserrat:700", rel: "stylesheet"}
    %link{href: '/favicon.ico', rel: 'shortcut icon', type: 'image/gif' }
  %body
    = partial "layouts/layout-contents"
    .app-header{role: "banner", :id => "top", :class => "#{current_page.data.parallaxTop == true ? 'hero-home' : 'section-nav'}" }
      .container
        .display
          .app-logo
            = yield_content :logo

        %nav.menu
          = yield_content :menu

      - if current_page.data.hero == true
        = partial "/layouts/hybridpages/hero"

    .app-content

      - if current_page.data.page_title_show == true
        = partial "/layouts/hybridpages/page_title"

      = yield

      - if current_page.data.catcher == true
        = partial "/layouts/hybridpages/catcher"

    .app-footer
      = partial "/layouts/hybridpages/footer"

  - if is_blog_article?
    %script{:src => "/javascripts/disqus.js"}
    %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53632dea5fd71564", type: "text/javascript"}
