---
title: Arduino with Cylon.js
author: The Hybrid Group
page_title: Platforms - Arduino
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Arduino
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-firmata' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-firmata/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true

analog_sensor_driver: true
button_driver: true
continuous_servo_driver: true
direct_pin_driver: true
led_driver: true
makey_driver: true
maxbotix_driver: true
motor_driver: true
servo_driver: true
blinkm_driver: true
hmc6352_compass_driver: true
mpl115a2_driver: true
lcd_driver: true
bmp180_driver: true
mpu6050_driver: true
ir_range_finder: true
---
%section.intro
  = image_tag "/images/devices/arduino.jpg", class: "display"
  .info-intro
    = partial '/hybridpages/partials/widgets/repo_issues'
    :markdown
      Arduino is an open-source electronics prototyping platform based on flexible, easy-to-use hardware and software.
      It's intended for artists, designers, hobbyists and anyone interested in creating interactive objects or environments.

      For more info about the Arduino platform click [here](http://arduino.cc/).

  .clear

%section.how-to#HowToInstall
  :markdown
    ## How To Install
    Installing Cylon.js with Arduino support is pretty easy.

        $ npm install cylon-firmata

%section.how-to#HowToUse
  :markdown
    ## How To Use

    This small program lets you push a button on the arduino board to turn a LED on or off, in less than 10 lines of code using Cylon.

        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'arduino', adaptor: 'firmata', port: '/dev/ttyACM0' },

          devices: [
            { name: 'led', driver: 'led', pin: 13 },
            { name: 'button', driver: 'button', pin: 2 }
          ],

          work: function(my) {
            every((1).second(), function() {
              my.led.toggle();
            );
          }
        }).start();

%section.how-to#HowToConnect
  :markdown
    ## How To Connect

    ### OS X

    The main steps are:

    - Install the cylon-firmata npm module
    - Find out what serial port your arduino is connected to
    - Upload the Firmata protocol to the arduino
    - Connect to the device using Cylon

    First plug the Arduino into your computer via the USB/serial port.
    A dialog box will appear telling you that a new network interface has been detected.
    Click "Network Preferences...", and when it opens, simply click "Apply".

    Install the cylon-firmata module:

        $ npm install cylon-firmata

    Once plugged in, use [Gort](http://gort.io)'s `gort scan serial` command to find out your connection info and serial port address:

        $ gort scan serial

    Use the `gort firmata install` command to install `avrdude`, this will allow you to upload firmata to the arduino:

        :::bash
        $ gort firmata install

    Once the avrdude uploader is installed we upload the firmata protocol to the arduino, use the arduino serial port address found when you ran `gort scan serial`:

        :::bash
        $ gort firmata upload /dev/tty.usbmodem1421

    Now you are ready to connect and communicate with the Arduino using serial port connection

    ### Ubuntu

    The main steps are:

    - Install the cylon-firmata npm module
    - Find out what serial port your arduino is connected to
    - Upload the Firmata protocol to the arduino
    - Connect to the device using Cylon

    First plug the Arduino into your computer via the USB/serial port.

    Install the cylon-firmata module:

        $ npm install cylon-firmata

    Once plugged in, use [Gort](http://gort.io)'s `gort scan serial` command to find out your connection info and serial port address:

        $ gort scan serial

    Use the `gort firmata install` command to install `avrdude`, this will allow you to upload firmata to the arduino:

        $ gort firmata install

    Once the avrdude uploader is installed we upload the firmata protocol to the arduino, use the arduino serial port address found when you ran `gort scan serial`, or leave it blank to use the default address `ttyACM0`:

        $ gort firmata upload ttyACM0

    Now you are ready to connect and communicate with the Arduino using serial port connection

%section.drivers#Drivers
  :markdown
    ## Drivers

    Cylon.JS' communication with the Arduino relies on using the Firmata firmware.
    This allows for interaction with a wide range of I/O hardware devices and interfaces, using a set of previously-defined and easy-to-use drivers.

    Available drivers for the Arduino platform are listed below.

  .hardware
    %h2 GPIO Drivers
    .devices
      // TODO: Update drivers list at the top of the page.
      = partial "documentation/partials/devices_gpio_drivers"
    %h2 i2c Drivers
    .devices
      = partial "documentation/partials/devices_i2c_drivers"

%section.drivers#yun
  %h2 Arduino YUN
  = image_tag "/images/devices/arduino-yun.jpg", class: "display"
  .info-intro
    :markdown
      It's possible to run Cylon code on the Linux side of the Arduino YUN, and have it communicate with the Arduino side using the Firmata protocol and seriaport communication.

      However, some hacking is necessary to accomplish this.
      We've put a guide together on how to do this, you can find it on the YUN platform page [here](./yun).
