---
title: Arduino with Cylon.js
author: The Hybrid Group
page_title: Platforms - Arduino
page_subtitle: Cylon has an extensible system for connecting to hardware devices.
page_title_docs: Arduino
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-firmata' target='_blank' class='repository'>Repository</a>| <a class+'issues' href='https://github.com/hybridgroup/cylon-firmata/issues' target='_blank'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true
---
%section.intro
  = image_tag "/images/devices/arduino.jpg", class: "display"
  .info-intro
    %h4.subtitle= current_page.data.page_subtitle_docs
    :markdown
      Arduino is an open-source electronics prototyping platform based on flexible, easy-to-use hardware and software.
      It's intended for artists, designers, hobbyists and anyone interested in creating interactive objects or environments.

      For more info about the Arduino platform click [here](http://arduino.cc/).
  .clear

= partial "documentation/platforms/partials/firmata"

%section.drivers#Drivers
  :markdown
    ## Drivers

    Cylon.JS' communication with the Arduino relies on using the Firmata firmware.
    This allows for interaction with a wide range of I/O hardware devices and interfaces, using a set of previously-defined and easy-to-use drivers.

    Available drivers for the Arduino platform are listed below.

  .hardware
    .devices
      = partial "/partials/devices_for_platform", locals: { platform: "Arduino" }

%section.drivers#yun
  %h2 Arduino YUN
  = image_tag "/images/devices/yun.jpg", class: "display"
  .info-intro
    :markdown
      It's possible to run Cylon code on the Linux side of the Arduino YUN, and have it communicate with the Arduino side using the Firmata protocol and seriaport communication.

      However, some hacking is necessary to accomplish this.
      We've put a guide together on how to do this, you can find it on the YUN platform page [here](./yun).
