---
title: Tessel with Cylon.js
author: The Hybrid Group
page_title: Platforms
page_subtitle: Cylon has a extensible system for connecting to hardware devices.
page_title_docs: Tessel
page_subtitle_docs: "<a href='https://github.com/hybridgroup/cylon-tessel' class='repository'>Repository</a> <a class+'issues' href='https://github.com/hybridgroup/cylon-tessel/issues'>Issues</a>"
layout: documentation
page_title_show: true
subnav_platform: true
active_menu_platforms: true
subnavjs: true

led_driver: true
button_driver: true
blinkm_driver: true
analog_sensor_driver: true
ir_range_finder: true
makey_driver: true
maxbotix_driver: true
bmp180_driver: true
hmc6352_compass_driver: true
lcd_driver: true
mpl115a2_driver: true
mpu6050_driver: true

tessel_accelerometer_module: true
tessel_ambient_module: true
tessel_audio_module: true
tessel_bluetooth_module: true
tessel_camera_module: true
tessel_climate_module: true
tessel_gps_module: true
tessel_infrared_module: true
tessel_relay_module: true
tessel_servo_module: true
---
-content_for :js_accordeon do
  :javascript
    $("#platform-panel").addClass("active-panel");
    $("#platform-panel ul li:nth-child(21)").addClass("active-link");
    $(".accordion-docs dt:nth-child(7) a:nth-child(2) img").addClass("rotate");

%section.intro
  = image_tag "/images/tessel.jpg", class: "display"
  .info-intro
    %p Tessel runs JavaScript—no server necessary. Just like web or mobile development, use your own IDE and libraries to program physical applications.

  :markdown
    Tessel supports packages from `npm` to leverage the growing Node.js community and capabilities. That's HTTP, Twitter, web server, color, and async support right out of the box. Uploading new code is as easy as `tessel push`!

  %p
    For more info about the Tessel platform click
    = succeed "." do
      = link_to "here", "http://tessel.io/", target: :blank

  .clear


%section.how-to#HowToInstall
  %h2 How to install
  %p
    Follow the installation instructions detailed
    = link_to "here", "http://start.tessel.io/install", target: :blank
  %p You may now use the Cylon command line interface to generate a new Tessel project.
  :markdown
        :::javascript
         $ sudo npm install -g cylon-cli
         $ cylon generate tessel my-tessel-project
         $ cd my-tessel-project
         $ npm install
         $ tessel run blink.js

  %p If the blue light starts to blink, then you're all set!

%section.how-to#HowToUse
  %h2 How to use
  %h3 Blink
  %p This small program lets you toggle an LED on and off.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'tessel', adaptor: 'tessel' },
          device: { name: 'led', driver: 'led', pin: 2 },

          work: function(my) {
            every((1).seconds(), function() { my.led.toggle() });
          }
        }).start();
  %h3 Climate
  %p This small program shows how to use the Tessel Climate module.
  :markdown
        :::javascript
        var Cylon = require('cylon');

        Cylon.robot({
          connection: { name: 'tessel', adaptor: 'tessel', port: 'A' },
          device: { name: 'climate', driver: 'climate-si7005' },
          work: function(my) {
            my.climate.on('error', function (err) {
              console.log(err)
            });

            every((1).seconds(), function() {
              my.climate.readHumidity(function (err, humid) {
                console.log('Humidity:', humid.toFixed(4) + '%RH');
              });
              my.climate.readTemperature('f', function (err, temp) {
                console.log('Degrees:', temp.toFixed(4) + 'F');
              });
            });
          }
        }).start();

%section.how-to#HowToConnect
  %h2 How to Connect
  %p
    As mentioned in the section above (How to install) connecting to the Tessel is easy,
    you just need to follow the detailed instructions provided in the tessel site:
  %a{ href: "http://start.tessel.io/install" } http://start.tessel.io/install
  %p
    If you followed the instructions in the previous two sections, your Tessel should be already connected,
    and ready to run Cylon.js, you can skip ahead and start coding, if you skipped on the Tessel site instructions,
    follow the link provided
    %a{ href: "https://tessel.io/install/" } here
    and complete all appropiate steps for your OS.

%section.drivers#Drivers
  %h2 Drivers
  %p Available drivers for the Tessel platform are listed below.

  .hardware
    // TODO: Update drivers list at the top of the page.
    %h2 Tessel Modules
    .devices
      = partial "documentation/partials/devices_tessel_modules"
    %h2 GPIO Drivers
    .devices
      = partial "documentation/partials/devices_gpio_drivers"
    %h2 i2c Drivers
    .devices
      = partial "documentation/partials/devices_i2c_drivers"
