---
layout: documentation
page_title_show: true
title: Examples
page_title: Examples
author: The Hybrid Group
description: Examples of using Cylon.JS with different hardware configurations
page_subtitle: How you can get started.
active_menu_docs: true
---
.examples
  = partial "partials/cylon", locals: { name: 'Cylon' }
  = partial "partials/ardrone", locals: { name: 'ARDrone' }
  = partial "partials/audio", locals: { name: "Audio" }
  = partial "partials/beaglebone", locals: { name: 'Beaglebone' }
  = partial "partials/ble", locals: { name: "BLE" }
  = partial "partials/crazyflie", locals: { name: "Crazyflie" }
  = partial "partials/digispark", locals: { name: "Digispark" }
  = partial "partials/firmata", locals: { name: 'Firmata' }
  = partial "partials/force", locals: { name: 'Force' }
  = partial "partials/hue", locals: { name: "Phillips Hue" }
  = partial "partials/intel-iot", locals: { name: "Intel-IOT" }
  = partial "partials/joystick", locals: { name: 'Joystick' }
  = partial "partials/keyboard", locals: { name: "Keyboard" }
  = partial "partials/leapmotion", locals: { name: 'Leap Motion' }
  = partial "partials/m2x", locals: { name: "M2X" }
  = partial "partials/mqtt", locals: { name: "MQTT" }
  = partial "partials/nest", locals: { name: "Nest" }
  = partial "partials/neurosky", locals: { name: 'Neurosky' }
  = partial "partials/ollie", locals: { name: "Ollie" }
  = partial "partials/opencv", locals: { name: 'OpenCV' }
  = partial "partials/pebble", locals: { name: 'Pebble' }
  = partial "partials/pinoccio", locals: { name: "Pinoccio" }
  = partial "partials/powerup", locals: { name: "Powerup" }
  = partial "partials/rapiro", locals: { name: "Rapiro" }
  = partial "partials/raspi", locals: { name: 'Raspberry Pi' }
  = partial "partials/skynet", locals: { name: "Skynet" }
  = partial "partials/spark", locals: { name: 'Spark' }
  = partial "partials/speech", locals: { name: "Speech" }
  = partial "partials/sphero", locals: { name: 'Sphero' }
  = partial "partials/tessel", locals: { name: "Tessel" }
  = partial "partials/wiced-sense", locals: { name: "WICED Sense" }
