%ul.doc-platform
  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/ardrone"}
        %p.title ARDrone
        %img{src: "/images/devices/ardrone.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-ardrone", target:"_blank"
  - if current_page.data.sphero_platform == true  
    %li 
      %a{:href => "/documentation/platforms/arduino"}
        %p.title Arduino
        %img{src: "/images/devices/arduino.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-firmata", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/beaglebone"}
        %p.title Beaglebone Black
        %img{src: "/images/devices/beaglebone.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-beaglebone", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/crazyflie"}
        %p.title Crazyflie
        %img{src: "/images/devices/crazyflie.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-crazyflie", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/digispark"}
        %p.title Digispark
        %img{src: "/images/devices/digispark.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-digispark", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/galileo"}
        %p.title Galileo
        %img{src: "/images/devices/galileo.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-galileo", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/joystick"}
        %p.title Joystick
        %img{src: "/images/devices/joystick.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-joystick", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/keyboard"}
        %p.title Keyboard
        %img{src: "/images/devices/keyboard.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-keyboard", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/leapmotion"}
        %p.title Leap Motion
        %img{src: "/images/devices/leap_motion.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-leapmotion", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/nest"}
        %p.title Nest
        %img{src: "/images/devices/nest.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-nest", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/neurosky"}
        %p.title Neurosky
        %img{src: "/images/devices/neurosky.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-neurosky", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/opencv"}
        %p.title OpenCV
        %img{src: "/images/devices/opencv.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-opencv", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/pebble"}
        %p.title Pebble
        %img{src: "/images/devices/pebble.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-pebble", target:"_blank"
  - if current_page.data.sphero_platform == true  
    %li
      %a{:href => "/documentation/platforms/pinoccio"}
        %p.title Pinoccio
        %img{src: "/images/devices/pinoccio.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-pinoccio", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/rapiro"}
        %p.title Rapiro
        %img{src: "/images/devices/rapiro.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-raspi", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/raspberry-pi"}
        %p.title Raspberry Pi
        %img{src: "/images/devices/raspi.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-raspi", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/force"}
        %p.title Salesforce
        %img{src: "/images/devices/force.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-force", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/skynet"}
        %p.title Skynet
        %img{src: "/images/devices/skynet.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-skynet", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/spark"}
        %p.title Spark
        %img{src: "/images/devices/spark.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-spark", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/sphero"}
        %p.title Sphero
        %img{src: "/images/devices/sphero.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-sphero", target:"_blank"

  - if current_page.data.sphero_platform == true
    %li
      %a{:href => "/documentation/platforms/tessel"}
        %p.title Tessel
        %img{src: "/images/devices/tessel.jpg", style: "width: 90%"}
      .repo
        = link_to "repo", "https://github.com/hybridgroup/cylon-tessel", target:"_blank"
