%header.header
  .dates
    .date-top
      .month
        = article.date.strftime('%b')
      .day
        = article.date.strftime('%d')
    .date-bottom
      .year
        = article.date.strftime('%Y')
  %h3.article-title
    = link_to article.title, article
    <br>
  .author
    = "by #{article.data.author}"
