---
page_title_show: true
title: Cylon.js Resources
page_title: Resources
page_subtitle: Cylon.js around the world.
layout: resources
resources: true
active_menu_resources: true
page_title_show: true
subnav_resources: true
active_menu_platforms: false
subnavjs: true
---

%section.resources
  %h1#news
    = link_to "Recent News", "/news"

  = link_to "<span>Cylon.js in Wired", "http://www.wired.com/2015/04/internet-anything-time-everyone-able-hack-robots/", target:"_blank", class: "external-link"

  = link_to "<span>Cylon.js 1.0 Release", "/news/cylon-1.0-release", target:"_blank", class: "external-link"

  = link_to "<span>Cylon.js listed among 15 new frameworks for developers", "http://codegeekz.com/15-new-frameworks-developers/", target:"_blank", class: "external-link"

  = link_to "View More", "/news", class: "internal-link"

%section.resources
  %h1#videos
    = link_to "Featured Videos", "/resources/videos"
  %p Here are some of videos of Cylon.js being used in action.

  .video
    %h4 Treehacks 2015: Turing Machine Simulator
    %h3.video-description An LCD connected to an Intel Edison displays a simulation of a Turing Machine.
    %iframe{:src => "//www.youtube.com/embed/aizo5qWE_KU", :frameborder => "0", :allowfullscreen => "true"}

  .video
    %h4 Light controlled servo with Intel Edison & Cylon.js
    %h3.video-description Using an Intel Edison with Arduino breakout to read an LDR and control a servo.
    %iframe{:src => "//www.youtube.com/embed/hjRpLsVx-co", :frameborder => "0", :allowfullscreen => "true"}
  .clear

  = link_to "View More", "/resources/videos", class: "internal-link"

%section.resources
  %h1#links
    = link_to "Friends of Cylon.js Around the World", "/resources/links"
  %p  Listed below are a few recent examples of blogs and magazines which have featured and explored Cylon.js. For the complete list, view <a href="/resources/links">here</a>.

  %h2
    %img{:src => "/images/elements/United-States.png", :alt => "American Flag", :class => "flag"}/
    English

  = link_to "Pi for Brains Robot - <span>Indie Dev Spot</span>", "http://indiedevspot.com/2015/05/21/pi-for-brains-robot-part-1-setup/", target:"_blank",  class: "external-link"

  = link_to "Building an MQTT enabled application with Cylon.js - <span>Design Spark</span>", "http://www.rs-online.com/designspark/electronics/blog/building-an-mqtt-enabled-application-with-cylon-js", target:"_blank",  class: "external-link"

  = link_to "Using Cylon.js with the Intel® Edison board and the Intel® IoT Developer Kit - <span>Intel Developer Zone</span>", "https://software.intel.com/en-us/articles/using-cylonjs-with-the-intel-edison-board-and-the-intel-iot-developer-kit", target:"_blank",  class: "external-link"

  = link_to "Featured Platform: Control Robots with Cylon.js - <span>Leap Motion</span>", "http://blog.leapmotion.com/featured-platform-control-robots-cylon-js/", target:"_blank",  class: "external-link"

  = link_to "Cloud9, resin.io, Cylon.js - all coming together - <span>My Hobbies</span>", "http://ivyco.blogspot.com/2015/04/cloud9-resinio-cylonjs-all-coming.html?m=1", target:"_blank",  class: "external-link"

  = link_to "Cylon.js Helps Democratize IoT Development - <span>Connected World</span>", "http://connectedworld.com/cylon-js-helps-democratize-iot-development/", target:"_blank",  class: "external-link"

  %h2
    %img{:src => "/images/elements/Spain.png", :alt => "Spanish Flag", :class => "flag"}/
    Spanish

  = link_to "BootCamp Monteria : Cylon.js – Javascript + Robotics - <span>Luis Toscano</span>", "http://www.luistoscano.com/blog/2014/12/02/bootcamp-monteria-cylon-js-javascript-robotics/", target:"_blank",  class: "external-link"