---
page_title_show: true
title: Cylon.js Resources
page_title: Resources
page_subtitle: Cylon.js around the world.
layout: resources
resources: true
active_menu_resources: true
---

%section.resources
  %h1 Friends of Cylon.js Around the World
  %p  Listed below are some links to blogs and magazines which have featured and explored Cylon.js.

  %h2
    %img{:src => "/images/elements/United-States.png", :alt => "American Flag", :class => "flag"}/
    English

  = link_to "Learning Simple Robot Programming With a 'Non-Threatening' Robot Ball (Video) - <span class='site-name'>Slashdot</span>", "http://hardware.slashdot.org/story/15/07/07/2024252/learning-simple-robot-programming-with-a-non-threatening-robot-ball-video", target:"_blank",  class: "external-link"

  = link_to "Particle + Cylon.js - <span class='site-name'>Hackster.io</span>", "https://www.hackster.io/glowascii/partikon-particle-cylon-js", target:"_blank",  class: "external-link"

  = link_to "How to Integrate Leap Motion with Arduino & Raspberry Pi - <span class='site-name'>Leap Motion</span>", "http://blog.leapmotion.com/integrate-leap-motion-arduino-raspberry-pi/", target:"_blank",  class: "external-link"

  = link_to "DIY Realtime Weather Station with Intel Edison and Cylon.js  - <span class='site-name'>Pub Nub</span>", "http://www.pubnub.com/blog/diy-realtime-weather-station-with-intel-edison-and-cylon-js/", target:"_blank",  class: "external-link"

  = link_to "Hackster Hardware Weekend (Hackathon) - <span class='site-name'>Anthony Ngu</span>", "http://blog.anthonyngu.com/2015/02/23/hackathon-environments/", target:"_blank",  class: "external-link"


  = link_to "Controlling Sphero with Leap Motion + Cylon.js - <span class='site-name'>Leap Motion</span>", "http://blog.leapmotion.com/controlling-sphero-leap-motion-cylon-js/", target:"_blank",  class: "external-link"

  = link_to "Pi for Brains Robot - <span class='site-name'>Indie Dev Spot</span>", "http://indiedevspot.com/2015/05/21/pi-for-brains-robot-part-1-setup/", target:"_blank",  class: "external-link"

  = link_to "Building an MQTT enabled application with Cylon.js - <span class='site-name'>Design Spark</span>", "http://www.rs-online.com/designspark/electronics/blog/building-an-mqtt-enabled-application-with-cylon-js", target:"_blank",  class: "external-link"

  = link_to "Using Cylon.js with the Intel® Edison board and the Intel® IoT Developer Kit - <span class='site-name'>Intel Developer Zone</span>", "https://software.intel.com/en-us/articles/using-cylonjs-with-the-intel-edison-board-and-the-intel-iot-developer-kit", target:"_blank",  class: "external-link"

  = link_to "Featured Platform: Control Robots with Cylon.js - <span class='site-name'>Leap Motion</span>", "http://blog.leapmotion.com/featured-platform-control-robots-cylon-js/", target:"_blank",  class: "external-link"

  = link_to "Cloud9, resin.io, Cylon.js - all coming together - <span class='site-name'>My Hobbies</span>", "http://ivyco.blogspot.com/2015/04/cloud9-resinio-cylonjs-all-coming.html?m=1", target:"_blank",  class: "external-link"

  = link_to "Cylon.js Helps Democratize IoT Development - <span class='site-name'>Connected World</span>", "http://connectedworld.com/cylon-js-helps-democratize-iot-development/", target:"_blank",  class: "external-link"

  = link_to "Connect a Mobile App and a Spark Core - An International IoT Day Project - <span class='site-name'>Telerik</span>", "http://developer.telerik.com/featured/connect-a-mobile-app-and-a-spark-core-an-international-iot-day-project/", target:"_blank",  class: "external-link"

  = link_to "Internet of Things with Intel Edison CylonJS - <span class='site-name'>Intel Software Academic Program</span>", "http://www.intel-software-academic-program.com/courses/diy/Intel_Academic_-_DIY_-_InternetOfThings/IntelAcademic_IoT-Edison_07_CylonJS.pdf", target:"_blank",  class: "external-link"

  = link_to "Program or be Programmed! - <span class='site-name'>Microbot</span>", "http://mirobot.io/programmable/", target:"_blank",  class: "external-link"

  = link_to "An Open Source Experience with Students from the University of Minnesota, Morris - <span class='site-name'>Noah Keitel</span>", "http://noahkeitel.com/wp/an-open-source-experience-with-students-from-the-university-of-minnesota-morris/", target:"_blank",  class: "external-link"

  = link_to "Control a fleet of drones with Salesforce - <spanclass='site-name'>DIY Drones</span>", "http://diydrones.com/profiles/blogs/control-a-fleet-of-drones-with-salesforce", target:"_blank",  class: "external-link"

  = link_to "Using Buttons and Sensors to Make Music with the Intel Edison - <spanclass='site-name'>Instructables</span>", "http://www.instructables.com/id/Using-Sensors-to-Make-Music-with-the-Intel-Edison/", target:"_blank",  class: "external-link"

  = link_to "Cylon.js and Intel IoTDevKit Example Sketches - <spanclass='site-name'>Edison-Guides</span>", "https://github.com/mashery/edison-guides/wiki/Cylon.js-and-Intel-IoTDevKit-Example-Sketches", target:"_blank",  class: "external-link"

  = link_to "MiP Hacking - <spanclass='site-name'>Mip Hacking</span>", "http://miphacking.blogspot.com/", target:"_blank",  class: "external-link"

  = link_to "Meteor meets Arduino and Cylon - <span class='site-name'>Julian.io</span>", "http://julian.io/meteor-meets-arduino-and-cylon/", target:"_blank",  class: "external-link"

  = link_to "Writing JavaScript for an Intel Edison - <span class='site-name'>Codefoster </span>", "http://www.codefoster.com/edison-coding/", target:"_blank",  class: "external-link"

  = link_to "Building Robots and Rockets with Javascript - <span class='site-name'>Make Magazine</span>", "http://makezine.com/2014/05/31/building-robots-and-rockets-with-javascript/", target:"_blank",  class: "external-link"

  = link_to "Controlling the Sphero using the Leap Motion in Cylon.js - <span class='site-name'>Charlie Gerard</span>", "https://charliegerard.wordpress.com/2015/01/12/sphero-leap-motion-cylon-js/", target:"_blank",  class: "external-link"

  = link_to "Control the Parrot ARDrone with the Leap Motion in Cylon.js - <span class='site-name'>Charlie Gerard</span>", "https://charliegerard.wordpress.com/2015/01/20/drone-leap-motion-cylon-js/", target:"_blank",  class: "external-link"

  = link_to "Control Your Quadcopter Drone Fleet with Salesforce1 - <span class='site-name'>Reid Carlberg</span>", "http://reidcarlberg.com/2014/03/19/control-your-quadcopter-drone-fleet-with-salesforce1/", target:"_blank",  class: "external-link"

  = link_to "JavaScript Beyond the Web in 2014 - <span class='site-name'>Sitepoint</span>", "http://www.sitepoint.com/javascript-beyond-web-2014/", target:"_blank",  class: "external-link"

  = link_to "Interacting with a Robot (Sphero) Through Node.js - <span class='site-name'>Top Idea Factory</span>", "http://topideafactory.blogspot.com/2014/10/interacting-with-robot-through-nodejs.html", target:"_blank",  class: "external-link"

  = link_to "Getting Started with an Intel® Edison - <span class='site-name'>Fab Lab</span>", "http://fab-lab.eu/edison/", target:"_blank",  class: "external-link"

  = link_to "Playing with Sphero - <span class='site-name'>LOÏC'S BLOG</span>", "http://loicdescotte.github.io/posts/sphero/", target:"_blank",  class: "external-link"

  = link_to "Firmata and Cylon - <span class='site-name'>Microsoft IoT</span>", "https://ms-iot.github.io/content/Firmata.htm", target:"_blank",  class: "external-link"

  %h2
    %img{:src => "/images/elements/Spain.png", :alt => "Spanish Flag", :class => "flag"}/
    Spanish

  = link_to "BootCamp Monteria : Cylon.js – Javascript + Robotics - <span class='site-name'>Luis Toscano</span>", "http://www.luistoscano.com/blog/2014/12/02/bootcamp-monteria-cylon-js-javascript-robotics/", target:"_blank",  class: "external-link"

  = link_to "Cómo programar plataformas tipo Arduino en JavaScript, Ruby y Go - <span class='site-name'>WhileDev</span>", "http://www.whiledev.com/como-programar-plataformas-tipo-arduino-en-javascript-ruby-y-go", target:"_blank",  class: "external-link"

  = link_to "Programando en Node.js con RaspberryPi. Primeros pasos - <span class='site-name'>Carlos Azaustre</span>", "https://carlosazaustre.es/blog/programando-en-node-js-con-raspberrypi-primeros-pasos/", target:"_blank",  class: "external-link"

  = link_to "Primera Aplicación Web en RaspberryPi con NodeJS + CylonJS - <span class='site-name'>Carlos Azaustre</span>", "http://carlosazaustre.es/blog/primera-aplicacion-web-en-raspberrypi-con-nodejs-cylonjs-controlando-leds-desde-el-movil/", target:"_blank",  class: "external-link"

  = link_to "Cylon.js, una forma sencilla de programar hardware - <span class='site-name'>Programacion en Castellano</span>", "http://programacion.net/noticia/cylon_js-_una_forma_sencilla_de_programar_hardware_2178", target:"_blank",  class: "external-link"

  %h2
    %img{:src => "/images/elements/Japan.png", :alt => "Japanese Flag", :class => "flag"}/
    Japanese

  = link_to "Cylon.js on Arduino - <span class='site-name'>lpcwww</span>", "http://lpcwww.com/2014/12/08/cylonjs-on-arduino/", target:"_blank",  class: "external-link"

  = link_to "BeagleBone BlackのDebianでCylon.jsを使いMQTTを受信してLチカする - <span class='site-name'>Qiita</span>", "http://qiita.com/masato/items/98f2888fac4d0271d526", target:"_blank",  class: "external-link"

  = link_to "Raspberry PiにNode.jsをインストールしてCylon.jsでLチカする - <span class='site-name'>Qiita</span>", "http://qiita.com/masato/items/399a3b6c22a109c579cc", target:"_blank",  class: "external-link"

  = link_to "Cylon.jsで遊んでみた - <span class='site-name'>takuro wada</span>", "http://takuro.ws/2015/01/playing-with-cylonjs/", target:"_blank",  class: "external-link"

  %h2
    %img{:src => "/images/elements/Portugal.png", :alt => "Portuguese Flag", :class => "flag"}/
    Portuguese

  = link_to "[NodeJS] Rodando Javascript no Arduino com Cylon.JS - <span class='site-name'>Troll Development</span>", "http://devtroll.blogspot.com/2014/03/nodejs-rodando-javascript-no-arduino.html", target:"_blank",  class: "external-link"

  %h2
    %img{:src => "/images/elements/Italy.png", :alt => "Italian Flag", :class => "flag"}/
    Italian

  = link_to "I robot? Li controlli usando Cylon - <span class='site-name'>Query</span>", "http://www.queryonline.it/2015/03/27/i-robot-li-controlli-usando-cylon/", target:"_blank",  class: "external-link"
  %h2
    %img{:src => "/images/elements/France.png", :alt => "French Flag", :class => "flag"}/
    French

  = link_to "Cylon.js : Node.js et robotique - <span class='site-name'>Meanjs.fr</span>", "http://www.meanjs.fr/cylon-js-javascript-et-robotique/", target:"_blank",  class: "external-link"